:root {
    --bg: #212123;
    --accent: #2d2d35;
    --text: #e5e5e5;

    --primary: #dc6938;
    --secondary: #353744;

    --border-radius: 8px;
    --main-inset: 1rem;

    --shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}



/* format */

* {
    box-sizing: border-box;
}
*:not(input):not(textarea):not(select) {
    user-select: none;
    color: var(--text);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--accent);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: var(--border-radius);
}

body {
    overflow-y: hidden;
    background-color: var(--bg);
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    overflow-y: auto;
    display: none;
    padding: var(--main-inset)
}

main.active {
    display: block;
}

/* components */

nav {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--secondary);
    box-shadow: var(--shadow);
}

button {
    border: 2px solid transparent;
    background-color: var(--accent);
    padding: 0.5rem 0.5rem;
    border-radius: var(--border-radius);
    color: var(--text);
    font-weight: 500;
    user-select: none;
}
button:hover {
    /* border: 3px solid var(--primary); */
    background-color: var(--primary);
    box-shadow: var(--shadow);
    cursor: pointer;
}

